body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #333;
    color: #fff;
    font-size: 1.1em;
    line-height: 1.5;
    text-align: center;
}

*{
    box-sizing: border-box;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

h1, h2, h3 {
    margin: 0;
    padding: 1em 0;
}

p {
    margin: 0;
    padding: 1em 0;
}

.wrapper{
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
}

.container{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    /* border: 1px solid yellow; */
}

.info{
    display: column;
    flex-direction:nowrap;
    justify-content: center;
}

.btn {
    display: inline-block;
    background: #333;
    color: #fff;
    text-decoration: none;
    padding: 1em 2em;
    border: 1px solid #666;
    margin: 0.5em 0;
  }

.btn:hover {
    background: #eaeaea;
    color: #333;
}


/*Header*/

#header{
    min-height: 450px;
    color: #fff;
}

.header-img{
    position: absolute;
    background: #333;
    background-image: url(../imges/fon.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 450px;
    z-index: -1;
    opacity: 0.4;
}

.info-p{
    margin: 0 auto;
    max-width: 50em;
    text-align: center;
}

.header-content{
    padding: 0 1.5em;
}

.header-content>h1{
    padding-top:100px;
    padding-bottom: 0;
}




/*info-upper*/

#container-upper{
    background: #eaeaea;
    color: #333;
    padding-bottom: 1em;
    flex-basis: 100%;
    padding: 0 1.5em;   
}

.info-upper{
    margin: 0 auto;
    max-width: 50em;
    columns: 2;
    column-gap: 2em;
    column-fill: balance;
    padding-bottom: 2em;
    text-align: center;

    /* border: 1px solid red; */
}

.info-upper>p{
    padding-top: 0;
}

/*card*/

#id-card{
    padding: 2em 1em 1em;
}

.card-item{
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
    max-width: 280px;
    min-width: 100px;
    margin: 0px 10px 1em;
    background: #fff;
    color: #333;
    overflow: hidden;
}

.card-upper{
    overflow: hidden; 
    object-fit: cover;      
}

.card-lower{
    padding: 1.5em;
}

/*info-lower*/

#container-lower{
    background: #fff;
    color: #333;
    padding: 2em;
    flex-basis: 100%;
}


/*info-company*/

#company-text{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: space-around;
    padding: 0;
}

.company-item {
   display: flex;
   flex-direction: column;
   flex: 1 1 50%;
   padding: 2em;
}

#first-company-item {
    background-color: #2690D4;
}

/*footer*/

#footer{
    display: flex;
    /* flex-direction: row; */
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    padding: 2em;
    background: #000;
    color: #fff;  
}

.footer-item{
    flex:1 1 50%;
}   

.footer-item a {
    text-decoration: none;
    color: #2690D4;
}

/* Media Queries */

@media screen and (max-width: 700px) {
    .card-item{
        min-width: 100%;
    }

    .info-upper{  
        columns: 1;      
    }
    .info-upper>p{
        padding-top: 0.9em;
    }
    .footer-item{
        flex-basis:100%;
    }
}